<!-- The content below is a placeholder and can be replaced. -->
<mat-form-field>
  <mat-select [(value)]="survey.layer">
    <mat-option value="Layer1">Layer1</mat-option>
    <mat-option value="Layer2">Layer2</mat-option>
    <mat-option value="Layer3">Layer3</mat-option>
    <mat-option value="Layer4">Layer4</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select [(value)]="platform.description">
      <mat-option value="Item1">Item A</mat-option>
      <mat-option value="Item2">Item B</mat-option>
  </mat-select>
</mat-form-field>

<mat-radio-group[(ngModel)]="survey.rating" name="rating">
  <mat-radio-button value="4">4</mat-radio-button>
  <mat-radio-button value="3">3</mat-radio-button>
  <mat-radio-button value="2">2</mat-radio-button>
  <mat-radio-button value="1">1</mat-radio-button>
</mat-radio-group>
<button mat-raised-button color="primary" (click)="saveEntry()">Save Entry</button>

<ngx-charts-pie-chart *ngIf ="chartdata"
  [view]="view"
  [scheme]="colorSchema"
  [results]="layerData"
  [legend]="showLegend"
  [explodeSlices]="explodeSlices"
  [labels]="showLabels"
  [doughnut]="doughnut"
  (select)="onSelect($event)">
</ngx-charts-pie-chart>


